<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NEW ROBOT</title>
  </head>
  <body>
    <p><i>Sorry, that user does not exist at this time. However, we can build him better.</i></p>
    <div class="container">
      <h2>New Robo-Entry</h2>
      <h3>Please Enter the Following:</h3>
      <form class="roboform" action="/adduser/:id" method="post">
        <p><input type="text" name="username" value="" placeholder="Username"></p>
        <p><input type="text" name="address" value="" placeholder="Address"></p>
        <p><input type="text" name="job" value="" placeholder="Job"></p>
        <p><input type="text" name="company" value="" placeholder="Company"></p>
        <p><input type="text" name="email" value="" placeholder="Email"></p>
        <p><input type="text" name="university" value="" placeholder="Education"></p>
        <button type="submit" name="button">Submit</button>
      </form>
    </div>
  </body>
</html>
