<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Directory</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="usercontainer">
      <div class="picture">
      <img src="{{imageurl}}" class = "userimg">
      </div>
        <h3 class = "username">{{username}}</h3>
        {{#address}}<span>{{address}}, </span>{{/address}}

        {{#job}}<span> {{job}}, {{company}}</span>{{/job}}
        {{^job}}<span class="nojob">Available for hire</span>{{/job}}

        <p class = "emailphone">{{email}} | {{phone}}</p>

        {{#university}}<p class = "userschool"><strong>Education:</strong> {{university}}</p>{{/university}}
        {{^university}}<p class = "userschool"></p>{{/university}}

    </div>
  </body>
</html>
